Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Template
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Collections
Content/Developers
Content/InventoryAssets
Plugins/Developer

.vs/
.vscode/
.vsconfig
.idea/
*.suo
*.user
*.userprefs
*.opensdf
*.sdf
*.sln
*.VC.db
*.VC.VC.opendb
*.log